<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlink}}
</head>
<body>
   
{{>navbar}}
<!-- main section starts -->
<div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">

     <div class="row">

        <!-- right side -->
        <div class="col-md-6 col-12 main_header_right">
            <figure>
                <img src="image/blackwomen.jpg" alt="sandhya" class="img-fluid" title="sandhya vishwa">
            </figure>
     </div>
        <!-- left side  -->
         <div class="col-md-6 col-12 main_header_left">
             <p>welcome to sandhya vishwa world</p>
             <h1>I am a<span class="text_clr"> student of bca</span> youtuber and developer</h1>
             <a href="#" target="sandhu"><button>about me</button></a>
         </div>

         
       <!-- right side ends -->
        </div>
    </div>
 </div>
</div>
 <!-- footer section -->

 {{>footer}}
</body>
</html>